[Unit]
Description=YOLOV8 TFLite service
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=INSTALL_LOC/run_yolov8_tflite.sh

[Install]
WantedBy=multi-user.target
